.listingWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.headline {
  color: var(--color-blue-blue3);
  text-transform: uppercase;
  text-align: center;
  margin: 5rem auto 3rem;
}
.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.listingImage {
  width: var(--listing-featured-size-width);
  box-shadow: var(--listing-featured-shadow);
  border-radius: var(--listing-featured-border-radius);
  transform: translateX(-5vw);
  /* filter: brightness(0.6);
  position: relative;
  z-index: 0;
  aspect-ratio: 1.498;
  object-fit: cover; */
}
.listingLink {
  position: relative;
}
.descriptionBlock {
  color: white;
  padding: 1rem 2rem;
  width: var(--listing-featured-size-width);
  box-shadow: var(--listing-featured-shadow);
  border-radius: var(--listing-featured-border-radius);
  background-color: var(--listing-featured-color-background-color);
  transform: translate(5vw, -2rem);
}
.listingText {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
}

/* @media (min-width: 768px) {
  .listingWrapper {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }
} */
