.listingWrapper {
  display: grid;
  gap: 1.5rem;
  margin: 1rem 1rem 10rem;
}
.headline {
  color: var(--color-blue-blue3);
  text-transform: uppercase;
  text-align: center;
  margin: 5rem auto 3rem;
}
.listing {
  display: flex;
  justify-content: center;
}
.skeleton {
  display: flex;
  flex: 1;
}
.listingImage {
  filter: brightness(0.6);
  position: relative;
  z-index: 0;
  aspect-ratio: 1.498;
  object-fit: cover;
}
.listingLink {
  position: relative;
  width: 100%;
}
.listingLink::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.listingText {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
}

@media (min-width: 768px) {
  .listingWrapper {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-auto-rows: clamp(15rem, 25vh, 20rem);
  }
}
