.container {
  color: var(--color-blue-blue1);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 7rem 3rem;
  gap: 2rem;
}
.contactContainer {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
