.propertyDescriptionWrapper {
  color: var(--color-blue-blue1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}
.propertyIntro {
  display: flex;
  flex-direction: column;
  background-color: var(--color-purple-purple2);
  padding: 5rem 0;
  width: 100%;
}
.headline {
  text-align: center;
  padding: 2rem;
  color: white;
}
.detailRow {
  display: flex;
  gap: 2rem;
}
.image {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
}
.imageContainer {
  width: 100%;
  padding: 2rem 10vw;
}
.noPropertyTextBlock {
  color: var(--color-blue-blue1);
  text-align: center;
  margin: 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.imageContainer {
  height: 70vh;
}
.propertyDescription {
  width: var(--layout-container-max-width);
}
