.favoritesListingWrapper {
  display: flex;
  flex-direction: column;
}
.favoritesListing {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: clamp(10rem, 20vh, 20rem);
  padding: 2rem;
}
.favoritesListing:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5);
}
