/* =============================================================================
Footer
==============================================================================*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.addressBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple-purple2);
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-purple-purple1);
  padding: 1rem;
  width: 100%;
}
.externalLinks {
  display: flex;
  justify-content: center;
}
.externalLink {
  padding: 0.5rem;
}
.copyright {
  font-size: 0.9rem;
  font-weight: 900;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav li {
  margin-left: 1rem;
}
.footerNav {
  margin: 0 auto;
}
.logo {
  width: clamp(10rem, 15vw, 15rem);
  aspect-ratio: 15/4;
}
.externalLinkIcon {
  display: inline-block;
  color: white;
  width: 2rem;
}
.externalLink {
  position: relative;
}
.externalLink::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  border-top: 1px dashed white;
}
@media (min-width: 768px) {
  .addressBlock {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .addressBlock {
    justify-content: center;
    align-items: center;
  }
}
