/* =============================================================================
Navigation
==============================================================================*/
.nav {
  display: flex;
  flex-direction: column;
}
.nav li {
  margin-left: 1rem;
}
.link {
  padding: 1rem 0;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link:focus {
  outline: 2px solid var(--color-orange-orange3);
  border-radius: 0.25rem;
}
.link:hover {
  color: var(--color-orange-orange2);
}
.mainNav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 4rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 3;
}
.mainNavLinks {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100vw;
  transition: right 0.7s ease-in-out;
  text-transform: uppercase;
  padding: 20vh 10vw;
  width: 100dvw;
}
.mainNavLinks.active {
  right: 0;
}
.mobileNavButton {
  color: white;
  min-width: 4rem;
  position: relative;
  z-index: 11;
}
.logo {
  width: clamp(10rem, 15vw, 15rem);
  position: relative;
  z-index: 11;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobileNavButton {
    display: none;
  }
  .mainNavLinks {
    flex-direction: row;
    transform: translateX(0);
    position: static;
    background-color: transparent;
    gap: 1rem;
    transition: none;
    padding: 0;
    width: auto;
  }
  .link {
    font-size: 1rem;
    padding: 0;
    width: auto;
  }
}
